<div class="row">
  <div class="col-md-5">
    <h2>Searches</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let search of searches"
          (click)="selectSearch(search)"
          [class.active]="search === selectedSearch">
        {{search.text}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewSearch()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <search-details
      [search]="selectedSearch"
      [createHandler]="addSearch"
      [deleteHandler]="deleteSearch">
    </search-details>
  </div>
</div>
